<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/style.css">
<title>Foxes - {{.title}}</title>
{{- if .description }}
<meta name="description" content="{{.description}}">
{{ end -}}
<meta name="theme-color" content="#ee893a">
<meta name="keywords" content="fox, foxes, foxes.cool, api, fox api">
<meta name="darkreader-lock">
<meta property="og:image" content="/images/logo.png">
</head>
<body>
    <nav id="topnav">
        <a href="/">
            <img src="/images/logo-48.png" alt="Logo" width="48" />
        </a>
        <div>
            <a href="/">Home</a>
            <a href="/docs">Docs</a>
            <a href="https://github.com/foxes-cool">GitHub</a>
        </div>
    </nav>
